
.resultRowSave{
    transition: ease-in-out 0.5s all;
    color: green;
    font-size: 14px !important;
    animation: buttonEdit 0.5s linear;
}

.resultRowEdit{
    transition: ease-in-out 0.5s all;
    color: blue;
    font-size: 14px !important;
    animation: buttonEdit 0.5s linear;

}

@keyframes buttonEdit {
    0%{
        transform: scale(1);
    }10%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(0.8);
    }100%{
        transform: scale(1);
    }
}