.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login .login-body {
  flex: 1;
  /* height: 100vh; */
  display: flex;
  /* background: linear-gradient(45deg, rgb(238, 159, 172), white); */
}

.login .logo-sec {
  flex: 0.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login .logo-sec h2 {
  color: white;
  margin: 5px 0;
  font-size: 45px;
}
.login .logo-sec img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.login .login-form {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-form form {
  /* background-color: black; */
  /* border: 1px solid rgb(238, 159, 172); */
  border: rgb(228, 225, 225) 1px solid;
  width: 90%;
  border-radius: 7px;
  padding: 15px;
}
.login .login-form form .login-div {
  width: 100%;
  margin: 20px 0;
}
.login .login-form form .login-div input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 17px;
  font-family: cursive;
  /* border: rgb(238, 159, 172) 1px solid; */
  border: rgb(219, 216, 216) 1px solid;
}
.login .login-form form .login-div.btn-group {
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;
}

/* .login-img{
    height: 250px;
    width: 250px;
} */
.login .login-form form .login-div.btn-group button {
  padding: 0 15px;
  /* outline: none; */
  /* border: none; */
  border-radius: 6px;
  margin: 0 10px;
  flex: 1;
  height: 38px;
  color: white;
  transition: all 0.2s ease-in-out;
    background: rgb(50,6,74);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login .login-form form .login-div.btn-group button:disabled {
  background-color: rgb(136, 128, 128);
}
.login .login-form form .login-div.btn-group button:disabled:hover {
  background-color: rgb(136, 128, 128);
}

.login .login-form form .login-div.btn-group button:hover {
    background: rgb(73, 10, 107);
  color: white;
}

.login .student-link {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
    background: rgb(50,6,74);
  transition: all 0.2s ease-in-out;
  color: white;
  margin: 20px 0 0 0;
}
/* .login .student-link:hover {
  background: rgb(109, 109, 250);
  color: rgb(231, 221, 221);
} */

.login-forgot {
  color: red;
  cursor: pointer;
  padding: 3px;
  transition: 0.2s ease-in;
  /* opacity: 0.6; */
}

.login-forgot:hover {
  /* background-color: rgb(238, 121, 121); */
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .login-body {
    flex-direction: column;
  }
  .login .logo-sec img {
    height: 100px;
    width: 100px;
  }
.login .student-link{
    padding: 0.3rem;
}
.login .login-form form{
    width: 70%;
    padding: 4px;
}
.login .login-form form .login-div input {
    width: 100%;
    height: 25px;
    padding: 0.5rem;
    font-size: 14px;
  }
  .login .login-form form .login-div.btn-group button {
    padding: 0 7px;
    /* outline: none; */
    /* border: none; */
    height: 27px;
    font-size: 15px;
  }
}
