body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
  outline-width: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

.del-btn{
  padding: 4px;
  border-radius: 50%;
  color: red;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}
.del-btn:hover{
  background: red;
  color: white;
}
.edit-btn{
  font-size: 24px;
  cursor: pointer;
  color: green;
  border-radius: 50%;
  padding: 4px;
  font-weight: 600;
}
.edit-btn:hover{
  background: green;
  color: white;
}
/* 
button:disabled {
  background: #707070;
} */
button.loading {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -99999px;
  background-image: url("./images/btn-spinner.gif");
}

.image-loader{
  margin: 22% 40%;
  animation: imageLoaderScale 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  height: 150px;
  width: 150px;
}

@keyframes imageLoaderScale {
  0%{
    opacity: 1;
    transform: scale(1.2)
  }100%{
    opacity: 0.2;
    transform: scale(1)
  }
}

@import url("./components//createClass/createClass.css");



@media screen and (max-width: 800px) {
  .header .header-link{
    display: none !important;
  }
  .header{
    justify-content: flex-end;
  }
  .header .portal-link{
    font-size: 15px !important;
    display: none;
    /* color: red; */
  }
  .header .logo img{
    width: 34px !important;
    height: 34px !important;
  }
  a.viewClassLink{
    /* color: red; */
    font-size: 15px;
  }
  .header .headerMenu{
    font-size: 16px !important;
  }
  .dashboard h1{
    font-size: 20px !important;
  }
  .dashboard .dashboardBodyHeading{
    font-size: 12px !important;
    text-align: center !important;
  }
  .createClassForm h2{
    font-size: 17px;
  }
  .sidebar{
    display: none;
    width: 0;
  }
  .viewClassTable{
    margin: 10px;
    width: 100%;
  }
  .viewClassTable td{
    font-size: 10px !important;
    /* color: red; */
  }
  .MuiSvgIcon-root{
    font-size: 15px !important;
  }
  .dashboard{
    width: 100%;
    /* background: yellow; */
  }
  .loading{
    animation: spinSm 2s linear infinite !important;
  }
  .recommendations .recommendation p{
    font-size: 19px !important;
  }
  .studentLogin .studentLoginContainer form h1{
    font-size: 20px;
  }
  .studentLogin .studentLoginContainer form h3{
    font-size: 17px;
  }
  .studentLogin .studentLoginContainer form{
    width: 80%;
    margin: 0 20px;
    margin: auto;
  }
  
}

@media screen and (min-width: 800px) {
 .headerMenu{
   display: none;
   opacity: 0;
 }
 .menuPlane{
   display: none;
   background: blue;
 }
}