.dashboard{
    /* flex: 0.76; */
    width: 78%;
    height: 100%;
    /* background-color: blue; */
}

.dashboard h1{
    text-align: center;
    font-size: 40px;
    color: gray;
}

/* .dashboard p:nth-child(1){
    color: red;
} */
.dashboard .dashboardDisplay{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.dashboard .dashboardBodyHeading{
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    margin: 10px 0;
}
.dashboard .dashboardDisplay .dashboardItem{
    border: 1px solid rgb(204, 202, 202);
    width: 250px;
    height: 120px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 20px;
    background: white;
    transition: 0.2s all ease-in-out;
}
.dashboard .dashboardDisplay .dashboardItem:hover{
    background: rgb(126, 126, 209);
    color: white;
}

.dashboard .studentInfo{
    /* background: yellow; */
    margin-left: 40px;
    margin-top: 5px;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: column; */
    padding: 5px;
    margin-bottom: 5px;
}

.dashboard .studentInfoValue, .dashboard .studentInfoKey{
    /* background-color: red; */
    margin: 4px 20px;
    font-size: 12px;
}

.dashboard .studentInfoValue p{
    text-transform: uppercase;
}

@media screen and (max-width: 554px) {
    
    .dashboardSidebar{
        display: none;
        flex: 0;
    }
    .dashboardBody{
        flex: 1;
    }
}














