.adminPassword{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
}

.dashboard .cardRequest{
    width: 80%;
    margin-left: 40px;
    height: fit-content;
    margin-top: 30px;
    padding-top: 30px;
}

.dashboard .cardRequest .cardAnalysis{
    /* background: blue; */
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .cardRequest .cardAnalysis .cardAnalysisOne{
/* background: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3px 0;
    width: 50%;
    flex-wrap: wrap;
}

.dashboard .cardRequest .cardAnalysis .cardAnalysisOne span:nth-child(2){
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
    /* padding: 5px; */
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .cardRequest .cardAnalysis .cardAnalysisOne:nth-child(1) span:nth-child(2):hover{
    background: rgb(175, 175, 235);
    transform: scale(1.2);
}
.dashboard .cardRequest .cardAnalysis .cardAnalysisOne:nth-child(2) span:nth-child(2):hover{
    transform: scale(1.2);
    background: rgb(238, 164, 164);
}
.dashboard .cardRequest .cardAnalysis .cardAnalysisOne:nth-child(3) span:nth-child(2):hover{
    background: rgb(165, 236, 165);
    transform: scale(1.2);
}


.dashboard .cardRequest h2{
    color: rgb(99, 97, 97);
    font-weight: lighter;
    text-align: center;
}

.dashboard .cardRequest .cardAnalysis .cardAnalysisOne .cardBattery{
    /* background: red; */
    height: 70px;
    width: 40px;
    margin-top: 15px;
    padding: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid lightgreen;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.dashboard .cardRequest .cardAnalysis .cardAnalysisOne .batteryAlertText{
    color: red;
    animation: alert 1s infinite;
    transition: ease-in-out all 1s;
    /* animation: none; */
}


.dashboard .cardRequest .cardAnalysis .cardAnalysisOne .cardBattery:hover{
    animation: shake 1s linear;
}

.dashboard .batteryCap{
    background: greenyellow;
    position: absolute;
    top: -5px;
    right: 30%;
    height: 5px;
    width: 40%;
}

.dashboard .cardRequest .cardAnalysis .cardAnalysisOne .cardBattery .cardBatteryValue{
    background: greenyellow;
    height: 80%;
    width: 100%;
}

@keyframes shake {
    0%, 20%, 60%, 80%{
      transform: scale(0.9);
      backdrop-filter: blur(5px);
    }10%, 40%, 63%, 90%{
        transform: scale(1.1);
        backdrop-filter: blur(5px);
    }30%, 55%, 68%,100%{
        transform: scale(1);
        backdrop-filter: blur(0px);
    }
}

@keyframes alert {
    0%{
      opacity: 0.8;
    }50%{
        opacity: 0.2;
    }100%{
        opacity: 1;
    }
}