.forgotPassword{
    /* background-color: blue; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotPasswordContainer{
    /* background-color: red; */
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPasswordContainer h1{
    color: black;
    text-align: center;
}

.forgotPasswordContainer input{
    padding: 5px;
    font-size: 15px;
    margin-top: 15px;
    width: 70%;
}

.forgotPasswordContainer p{
    color: red;
}

.forgotPasswordContainer button{
    background-color: rgb(247, 45, 45);
    color: white;
    align-self: center;
    padding: 6px 10px;
    margin: 10px 15px;
    border-radius: 6px;
    outline: none;
    transition: 0.2s ease-in;
}
.forgotPasswordContainer button:hover{
    transform: scale(1.1);
}




/*reset password*/
.resetPassword{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetPassword form{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 35%;
    align-items: center;
}
.resetPassword .resetPasswordInput{
    width: 100%;
    position: relative;
}

.resetPassword .resetPasswordInput .resetPasswordIcon{
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.resetPassword form input{
    width: 100%;
    padding: 2px 5px;
    margin-top: 10px;
    font-size: 13px;
}

.resetPassword form button{
    background: green;
    align-self: flex-start;
    /* margin-left: 10px; */
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 6px 12px;
}

.resetPassword p{
    color: red;
}

