.err-msg, .suc-msg{
    color: white;
    text-align: center;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    /* font-size: 17px; */
    text-transform: uppercase;
    display: flex;

   }

   .err-msg .cancel-span, .suc-msg .cancel-span{
       /* background-color: green; */
       flex: 0.06;
       cursor: pointer;
   }

   .err-msg .msg-span, .suc-msg .msg-span{
       /* background-color: blue; */
       flex: 1;
   }
   
   .err-msg{
       background-color: white;
       /* border: red 1px solid; */
       color: red;
   }
   
   .suc-msg{
       background-color: white;
       /* border: green 1px solid; */
       color: green;
   }