
.div-body{
    /* height: 100vh; */
    display: grid;
    place-items: center;
    margin: 30px;
}
.temp-container{
    border: black 1px solid;
    /* height: 120vh; */
    width: 54vw;
    padding: 50px;
}


.temp-container .heading1{
    text-align: center;
}

.temp-container .heading1 h1{
    color: rgb(9, 9, 97);
    margin: 4px;
}
.temp-container .heading1 h6{
    font-size: 20px;
    margin: 5px 0;
}
.temp-container .heading1 h6 span, .heading2 .heading2Item h4{
    color: red;
    font-weight: 600;
    /* font-style: italic; */
}
.temp-container .heading1 h5{
    color: rgb(226, 8, 8);
    font-size: 24px;
    margin: 5px 0;
}
.temp-container .heading2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp-container .heading2 .heading2Item p{
    font-size: 13px;
    color: royalblue;
}
.temp-container .class-cat-head{
    background-color: rgb(6, 6, 117);
    color: white;
    font-size: 21px;
    text-align: center;
    margin: 4px;
    padding: 5px;
}

.temp-container .student-details{
    height: 80px;
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
}

.temp-container .student-name{
    width: 100%;
    font-size: 18px;
    display: flex;
    padding-bottom: 4px;
}
.temp-container .student-name .span-content{
    flex: 1;
    margin-left: 5px;
    border-bottom: 1px dotted black;
}

.temp-container .student-details-span2{
    display: flex;
}
.temp-container .student-details-span2 .student-class{
    display: flex;
    flex: 0.5;
    padding-bottom: 4px;
}
.temp-container .student-details-span2 .student-class .span-content, .student-details-span2 .student-examNo .span-content{
    flex: 1;
    margin-left: 5px;
    border-bottom: 1px dotted black;
}
.temp-container .student-details-span2 .student-examNo{
    flex: 0.5;
    display: flex;
    padding-bottom: 4px;
}

.temp-container .student-details-span2 .student-term{
    flex: 0.55;
    display: flex;
}
.temp-container .student-details-span2 .student-session{
    flex: 0.45;
    display: flex;
}
.temp-container .student-details-span2 .student-session .span-content, .student-details-span2 .student-term .span-content{
    flex: 1;
    border-bottom: 1px dotted black;
}

.temp-container .details-title{
    color: rgb(11, 11, 145);
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin-top: 5px;
}
.temp-container table{
    border: 4px solid rgb(197, 5, 5);
    width: 100%;
    margin:  7px auto;
    padding: 4px 10px;
    border-collapse: collapse;
}

.temp-container table tr{
    /* background-color: blue; */
    height: 28px;
    border: 1px solid rgb(121, 3, 3);
}
.temp-container tr:nth-child(1), td:nth-child(1){
    padding: 0 15px;
    font-weight: 600;
    font-family: sans-serif;
}
.temp-container tr, td{
    padding: 0 5px;
}

.temp-container table th, table td{
    border: 1px solid rgb(155, 3, 3);
}

.temp-container footer{
    margin-top: 10px;
}

.temp-container .footer-row{
    display: flex;
    font-weight: 600;
    padding: 2px 0;
    margin: 2px 0 0 0;
    color: rgb(39, 39, 243);
}

.temp-container .footer-row .span-content{
    flex: 1;
    border-bottom: 1px solid black;
    margin-left: 4px;
}

.temp-container .footer-comment{
    flex: 1;
    display: flex;
}
.temp-container .footer-score, .footer-position, .footer-score, .footer-out-of{
    flex: 1;
    display: flex;
}


.temp-container .footer-resumption{
    display: flex;
    flex: 0.6;
}
.temp-container .footer-principal{
    display: flex;
    flex: 0.4;
}