.classNamesDisplay{
    /* background: rgb(241, 240, 240); */
    height: 38px;
    width: 80%;
    margin: 20px 40px;
}
.classNamesDisplay ul{
    /* background: blue; */
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}
.classNamesDisplay ul li{
   /* background: gray; */
   border: 1px solid gray;
   padding: 0.5rem 1.5rem;
   border-radius: 6px;
   transition: all 0.2s ease-in-out;
}
.classNamesDisplay ul li:hover{
  background: rgb(253, 247, 247);
}

.viewClassTable{
    /* border: 1px solid rgb(182, 45, 45); */
    width: 70%;
    width: 70vw;
    margin: 15px 40px 30px 40px;
    /* margin: auto; */
    padding: 10px;
    border-collapse: collapse;
    /* font-family: 'Noto Serif Display', serif; */
    font-weight: 600;
}

.viewClassTable th, .viewClassTable tr, .viewClassTable td{
    border: 1px solid gray;
    height: 30px;
    letter-spacing: 1.2px;
    /* font-weight: 600; */
    margin-left: 5px;
    font-size: 0.8rem;
    text-align: center;
}

.viewClassTable td{
    /* font-size: 13.5px; */
}

.viewClassTable td input{
    height: 80%;
    width: 80px;
    font-size: 16px;
    padding: 0 5px;
    /* width: 10%; */
}

.viewClassTable td input:disabled{
    border: none;
}

.viewClassTable button{
    width: 80%;
    height: 80%;
    color: green;
    margin: 4px 10px;
    border-radius: 3px;
    background-color: transparent;
}

.viewClassTable  tbody td:last-child button{
    color: red !important;
}

.viewClassTable button:nth-child(2){
    background-color: red;
}

.viewClassLink{
  /* background: rgb(192, 192, 192); */
  border: 1px solid grey;
  border-radius: 6px;
  margin: 40px 0 0 37px;
  padding: 0.2rem  0.4rem;
  font-size: 13px;
}

.loading-text{
    font-size: 120px;
    color: rgb(221, 209, 209);
    margin: 80px;
}

.page-info{
    margin: 5px 50px;
    font-weight: lighter;
    font-size: 13px;
}

.page-div{
    /* background-color: rgb(224, 224, 224); */
    margin: 10px auto 10px;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page-button{
    /* background-color: rgb(32, 32, 223); */
    margin: 0 1px;
    font-weight: 600;
    padding: 0.1rem 0.4rem;
    border: rgb(177, 172, 172) 1px solid;
}

.page-button:hover{
    background-color: rgb(59, 56, 56);
    color: white;
}

/* .page-button:disabled:hover{
    background-color: rgb(73, 71, 71);
    color: white;
} */