.header {
  background-color: rgb(243, 241, 241);
  display: flex;
  align-items: center;
  min-height: 55px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 30;
  border-bottom: 1px solid rgb(182, 173, 173);
  background: rgb(50,6,74);
}

.header .header-link {
  flex: 0.5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-link .link,
.header .logo .link {
  margin: 0 20px;
  color: white;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px rgb(146, 146, 238);
  padding: 0.3rem 0.8rem;
  font-family: "Noto Serif Display", serif;
  /* background-color: pink; */
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  /* color: white; */
  opacity: 1;
}
.header .header-link .link:hover,
.header .logo .link:hover {
  box-shadow: -1px -1px 1px 1px rgb(146, 146, 238);
  color: rgb(229,107,31);
}

/* .header .header-link .link::after{
    background: red;
    height: 2px;
    width: 100px;
    position: absolute;
    bottom: 0px;
  } */

.header .logo {
  flex: 0.3;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: red; */
}

.headerMenu {
  flex: 0.1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

/* .header .portal-link{
    border-radius: 6px;
    font-family: 'Noto Serif Display', serif;
    transition: all .5s ease-in-out;
    font-weight: 600;
    font-size: 14px;
  }

.header .portal-link:hover, .header .header-link .link:hover{
  opacity: 0.6
} */

/* menu open and close */
.menuPlane {
  width: 90%;
  height: 100vh;
  background: rgb(50,6,74);
  /* border: 4px solid black; */
  position: absolute;
  top: -5px;
  z-index: 99;
  left: 0;
  transform: translateX(-120%);
  transition: 0.4s all ease-in-out;
  padding: 10px 25px;
}

.menuPlane .closeMenu {
  color: white;
  font-weight: 600;
  position: absolute;
  top: 4%;
  right: 5%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menuPlane h2 {
  color: white;
  margin: 20px 0;
  font-size: 35px;
}

.menuPlane ul {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space;
  padding-left: 25px;
  list-style-type: disc;
}

.menuPlane ul li {
  font-size: 24px;
  color: white;
}
.menuPlane ul li:hover {
  cursor: pointer;
}



/* Media queries */

@media screen and (max-width: 750px){
    .header{
      padding: 0 10px;
      width: 100vw;
      /* position: relative;/ */
    }
    .header .menuPlane{
      background-color: rgb(50,6,74);
      height: 100%;
      position: fixed;
      width: 90vw;
      overflow-y: hidden;
    }
    .header .menuPlane h2{
      font-size: 20px;
      margin-top: 40px;
    }
    .header .menuPlane ul li{
      font-size: 14px;
      list-style: none;
      margin: 5px 0;
      padding: 4px;
      background-color: rgb(202, 164, 236);
      cursor: pointer;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header .menuPlane ul li:hover{
      background-color: blue;
    }
    .header .headerMenu{
      /* margin-left: 20px; */
      color: rgb(50,6,74);
      background-color: white;
      height: fit-content;
      width: fit-content;
      padding: 2px;
      border-radius: 50%;
    }

    .header .logo .link{
      padding: 3px 10px;
      color: white;
      font-size: 18px;
      /* display: none; */
    }
    
}