.container{
    display: flex;
    width: 100vw;
    /* position: relative; */
  }
  
  .menuPlane{
    width: 90%;
    height: 100vh;
    background: black;
    /* border: 4px solid black; */
    position: absolute;
    top: -5px;
    z-index: 99;
    left: 0;
    transform: translateX(-120%);
    transition: 0.4s all ease-in-out;
    padding: 10px 25px;
  }

  .menuPlane .closeMenu{
    color: white;
    font-weight: 600;
    position: absolute;
    top: 4%;
    right: 5%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .menuPlane h2{
    color: white;
    margin: 20px 0;
    font-size: 35px;
  }

  .menuPlane ul{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space;
    padding-left: 25px;
    list-style-type: disc;
  }

  .menuPlane ul li{
    font-size: 24px;
    color: white;
  }
  
/* .link{
    color: inherit;
    text-decoration: none;
} */