.notifications__list {
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transition: height 200ms;
  z-index: 1000;
  height: 0;
}

.notifications__item {
  padding: 20px;
}
.notifications__item.success {
  background: green;
}
.notifications__item.error {
  background: red;
}
.notifications__item.neutral {
  background: #000;
}

.notification-enter {
  opacity: 0;
  display: block;
}
.notification-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.notification-exit {
  opacity: 1;
}
.notification-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
